requests
beautifulsoup4
selenium
webdriver-manager
schedule
transformers==4.38.2
torch==2.2.1
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/es_core_news_lg-3.7.0/es_core_news_lg-3.7.0.tar.gz
sentencepiece
pandas
filelock
streamlit-agraph
fastapi
uvicorn
psycopg2-binary
celery
redis
sentence-transformers
scikit-learn
stylecloud
palettable
